h1{
    text-align: center;
    font-size: 80px;
}

p{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

button{
    background-color: blue;
    margin: auto;
    padding-inline: 70px;
    padding-block: 40px;
    display: block;
}

button:hover{
    background-color: green;
}